* {
  color: #555;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px ;
  color: #555;
}

h1 > div {

  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 10px ;
  color: #555;

}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


mat-error.msg-error,
mat-error.msg-error > * {
  color: #f44336;
}
