.principal {
  display: grid;
  grid-template-columns: 18% 1fr;
  grid-template-rows: 64px 1fr;
  grid-template-areas:
    "header header header"
    "menu   main   main"
    "menu   main   main"
  ;

  height: 100vh;
}

.header {
  grid-area: header;

}

.menu {
  grid-area: menu;
  background-color: #fafafa;
  overflow-y: auto;
}

.main {
  grid-area: main;
  background-color: aquamarine;
  padding: 10px;
}

